@font-face {
    font-family: 'Heebo';
    src: url(/fonts/Heebo-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url(/fonts/Heebo-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url(/fonts/Yantramanav-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/**
  Озадачимся нормализацией стилей для корректного
  отображения страниц на всех браузерах.
  Начнем с блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится когда, например, нужно будет "прижать" футер к низу сайта
    */
   height: 100%;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

 :root {
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-dark-gray: #404040;
    --color-light-gray: #c4c4c4;
    --color-light-green: #569b4a;
    --color-dark-green: #16251C;

    --border-radius: 30px;
    --border: 1px solid var(--color-light); 

    --font-family-base: 'Heebo' sans-serif; 
    --font-family-alternative: 'Yantramanav' sans-serif;

    --input-height: 54px;

    --container-width: 1300px;
    --container-padding-x: 15px;

    --transition-duration: 0.3s;

    --header-height: 90px;

 } 
 
 body {
  font-family: var(--font-family-base);
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-light-gray);
  background-color: var(--color-dark);
}

  a {
    color: var(--color-light);
  }

  a:hover {
color: var(--color-light-green);
  }

  a, 
  button, 
  input,
  textarea,
  svg * {
transition-duration: var(--transition-duration);
  }


 .container {
  max-width: calc(var(--container-width) + var(--container-padding-x)*2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
 }

 h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
 }

 .button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2;
  text-transform: uppercase;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
 }

 .button:hover {
  background: var(--color-light-green);
 }

 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 32px;
  min-height: var(--header-height);
 }

.header-menu-list {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  height: var(--header-height);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2;
}

.header-menu-link.is-current::after {
content: "";
width: 5px;
height: 5px;
background-color: currentColor;
border-radius: 50%;
column-gap: 7px;
}

.header-actions {
  display: flex;
  column-gap: 40px;
}

.header-burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  }

  .header-burger-button-line {
    top: 5px;
    left: 5px;
    width: 12px;
    height: 1px;
    background-color: var(--color-light);

  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 36px 70px;
    min-height: calc(100vh - var(h));
    color: var(--color-light);
    background-color: var(--color-dark-green);
  }

  .banner-body {
    text-transform: uppercase;
  }

  .banner-info {
    display: flex;
    align-items: end;
    font-size: clamp(16px, 1.56vw, 30px);
    line-height: 1.27;
    font-weight: 700;
  }

  .banner-info::before {
    content: '';
    width: clamp(60px, 10.1vw, 194px);
    aspect-ratio: 1;
    background: url(/icons/cactus.svg) center/contain no-repeat;
    margin-right: 30px
  }

  .banner-title {
    font-size: min(18.75vw, 360px);
    line-height: 1;
  }

.cactus-item:nth-child(even) {
  background-color: var(--color-dark-green);
}

.cactus-card {
  display:flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 10.42vw, 200px);
}

.cactus-item:nth-child(even) .cactus-card {
  flex-direction: row-reverse;
}

.transparent {
  color: var(--color-dark);
  text-decoration: none;
}

.transparent:hover{ 
  color: var(--color-dark);
}

  @media (max-width: 1100px) {
    header {
      flex-wrap: wrap;
      padding-top: 20px;
    }

    header, 
    .banner{
      padding-inline: 15px;
    }
    
    .header-menu {
      order: 1;
      flex-basis: 100%;
    }
    
    .header-menu-link{
      height: 50px;
    }
    
    .header-logo-img{
      height: 60%;
      width: 60%;
    }

    .banner-info{
      margin-top: 5px;
    }

    .banner-info::before{
      margin-right: 10px;
    }

    .banner{
      row-gap: 10px;
    }

      }

      @media (max-width: 750px) {
        header{
          padding-top: 10px;
          column-gap: 10px;
        }
        
        .header-menu-list{
        height: 50px;
        column-gap: 10px;
        }
      
        .button {
          padding-inline: 15px;
        }
      }